.login{
     border: 1px solid red;
     text-align: center;
     margin: 100px;
}
.login-form{
     margin: 10px;
}
.login-form p{
     margin-top: 20px;
}
.login-form input{
     padding: 6px;
}
.login-form button{
     padding: 5px;
     margin-top:5px;
}