*{
     text-decoration: none;
}
.navbar{
     display: flex;
     justify-content: space-around;
     background-color: black;
     text-align: center;
     padding: 15px;
     font-size: 18px;
}
.navbar a{
     color: white;
}
.navbar a:hover{
     border-radius: 14px;
     padding: 5px;
     background-color: aliceblue;
     color: black;
}